<section class="section-container">
    <div class="initial-info-container" >
        <div *ngFor="let brand of brandProductsArray">
            <h1>{{brand.brand}} {{brand.count}}</h1>
        </div>
    </div>
    <div class="filter-container">
        <h1>Filter By Brand</h1>
        <select name="categoryFilter" id="categoryFilter" [(ngModel)]="filter" (ngModelChange)="onFilter()">
            <option value="">Select an Option</option>
            <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
        </select>
        <h1>Sort By Price</h1>
        <select name="sortBy" id="sortBy" [(ngModel)]="sortKey" (ngModelChange)="sort()">
            <option selected value="tohigher">Lower to Higher</option>
            <option value="tolower">Higher To Lower</option>
        </select>
    </div>
    <div >
        <div class="card" *ngFor="let product of filteredProductData">
            <div class="card-body">
                <h1>{{product.name | uppercase}} ({{product.id}})</h1>
                <p>{{product.brand}}</p>
                <p>{{product.description}}</p>
                <p>{{product.category}}</p>
                <p>{{product.price | currency: 'INR'}}</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>
</section>