<main>
  <!-- <app-product (sendProductEvent)="getProductsEvent($event)"></app-product> -->
  <!-- <app-reactive></app-reactive> -->
  <!-- <app-form-builder-example></app-form-builder-example> -->
  <!-- <app-create></app-create> -->
  <!-- <app-login></app-login> -->
  <!-- <app-forgot-password></app-forgot-password> -->
  <!-- <app-reset-password></app-reset-password> -->
  <!-- <app-registration></app-registration> -->
  <!-- <app-products-display [products]="products"></app-products-display> -->
   <router-outlet></router-outlet>
</main>