<div class="w-100 min-vh-100 mb-4 mt-4 d-flex align-items-center justify-content-center">
    <div class="card w-50 p-4">
        <h1>Reactive Create Product</h1>
        <form class="d-grid mt-2 form-group" [formGroup]="productForm" (ngSubmit)="handleSubmit($event)">
            <div class="mb-3">
                <label for="productId" class="form-label">Product Id</label>
                <input type="text" id="productId" class="form-control" name="productId" required formControlName="productId">
            </div>
            <div class="mb-3">
                <label for="pdesc" class="form-label">Product Description</label>
                <input type="text" id="pdesc" class="form-control" name="productDesc" required formControlName="description">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Product Quantity</label>
                <input type="number" id="quantity" class="form-control" name="quantity" required formControlName="quantity">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Product Price</label>
                <input type="text" id="price" class="form-control" minlength="1" name="price" required formControlName="price">
            </div>

            <div class="mb-3">
                <label for="brand" class="form-label">Product Brand</label>
                <input type="text" id="brand" class="form-control" name="brand" required formControlName="brand">
            </div>

            <div class="mb-3">
                <input type="checkbox" id="ppublish" class="form-check-input me-1" name="productPublish">
                <label for="ppublish" class="form-check-label">Publish or Draft</label>
            </div>
            <input type="submit" value="Submit" [disabled]="!productForm.valid" class="btn btn-primary mb-3">
        </form>
    </div>
</div>
