<header class="min-vh-100 w-100 d-flex align-items-center justify-content-center">
    <section class="d-flex flex-row align-items-center justify-content-center">
        <div class="me-4"><img src="{{heroLink}}" alt="hero image"></div>
        <div class="w-25">
            <h1 class="text-white">Discover Unmatched Deals on Top Brands!</h1>
            <p class="text-white">Shop the latest trends and timeless classics with exclusive offers and unbeatable prices. Elevate your style today!</p>
            <a class="btn btn-primary rounded-4" routerLink="all-products">Start Exploring</a>
        </div>
    </section>
</header>
