<main class="main">
  <app-color (colorChangeEvent)="changeColor($event)"></app-color>
  <app-data></app-data>
  <!-- <div style="display: flex;">
    <select name="categoryFilter" id="categoryFilter" [(ngModel)]="filter">
      <option value="">Select an Option</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
    <button (click)="onFilter()" style="margin: 10px;">Filter</button>
  </div>
  <div style="border: 2px solid #d400ff;display: flex;flex-wrap: wrap;">
    <div [style.background-color]="bgColor" [style.color]="bgColor=='white'?'black':'white'" style="border: 2px solid #ff0000;padding: 10px;margin: 10px;width: 40%;"
      *ngFor="let product of filteredProducts">
      <h2>{{product.name}} ({{product.id}})</h2>
      <p>{{product.description}}</p>
      <p>{{product.category}}</p>
      <p>{{product.price}}</p>
      <p>{{product.stock}} Left</p>
      <input type="text" #inputQty>
      <button (click)=(printOrder(inputQty,product.id))>Check Stock Availability</button>
      <div [ngSwitch]="inputQty.value">
        <span *ngSwitchCase="'200'">Quantity not Available</span>
        <span *ngSwitchCase="'100'">Quantity Available</span>
        <span *ngSwitchDefault>Checking Stock Quantity</span>
      </div>
      <button>Add to Cart</button>
    </div>
    <p>OrderDate: {{ orderDate | date:'dd/MMMM/yyyy'}}</p>
  </div> -->
  

  
</main>

<router-outlet />